.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .card {
    margin: 10px;
}

.card-title, .card-subtitle {
    color: white;
}

.card-subtitle i {
    margin-right: 10px;
}

ul li {
    margin: 3px 0px;
}